
.socicon {
	cursor: pointer;
	padding: 4px 12px;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	color: #ffffff;
	text-decoration: none;
	border: 1px solid #bbbbbb;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	     -o-border-radius: 4px;
			border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.socicon:hover {
	color: #ffffff;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	   -moz-transition: background-position 0.1s linear;
	     -o-transition: background-position 0.1s linear;
	        transition: background-position 0.1s linear;
	opacity:0.9;
}

.socicon .fa {
	border-right: 1px Solid #aaa;
	padding-right: 8px;
	margin-right: 8px;
}

.socicon.mailru {
	background-color: #168de2;
	border-color: #168de2;
}

.socicon.google {
	background-color: #4285f4;
	border-color: #4285f4;
}

.socicon.yandex {
	background-color: #ff0000;
	border-color: #ff0000;
}

.socicon.odnoklassniki {
	background-color: #ed812b;
	border-color: #ed812b;
}

.socicon.vk {
	background-color: #45668e;
	border-color: #45668e;
}

.socicon.twitter {
	background-color: #55acee;
	border-color: #55acee;
}

.socicon.facebook {
	background-color: #3b5998;
	border-color: #3b5998;
}

.socicon.github {
	background-color: #4183c4;
	border-color: #4183c4;
}

.socicon.linkedin {
	background-color: #0077b5;
	border-color: #0077b5;
}

.socicon.instagram {
	background-color: #3f729b;
	border-color: #3f729b;
}
